<div
  class="boder border-gray-200 flex animate-pulse p-4 rounded-lg shadow-md mb-4 bg-white w-full h-64 ellipsis overflow-hidden"
>
  <div class="flex-1 space-y-6 py-1">
    <div class="h-2 rounded bg-gray-200"></div>
    <div class="space-y-3">
      <div class="grid grid-cols-3 gap-4 mt-12">
        <div class="col-span-2 h-2 rounded bg-gray-200"></div>
        <div class="col-span-1 h-2 rounded bg-gray-200"></div>
        <div class="col-span-2 h-2 rounded bg-gray-200"></div>
        <div class="col-span-1 h-2 rounded bg-gray-200"></div>
        <div class="col-span-2 h-2 rounded bg-gray-200"></div>
        <div class="col-span-1 h-2 rounded bg-gray-200"></div>
        <div class="col-span-2 h-2 rounded bg-gray-200"></div>
        <div class="col-span-1 h-2 rounded bg-gray-200"></div>
        <div class="col-span-2 h-2 rounded bg-gray-200"></div>
        <div class="col-span-1 h-2 rounded bg-gray-200"></div>
        <div class="col-span-2 h-2 rounded bg-gray-200"></div>
        <div class="col-span-1 h-2 rounded bg-gray-200"></div>
        <div class="col-span-2 h-2 rounded bg-gray-200"></div>
        <div class="col-span-1 h-2 rounded bg-gray-200"></div>
      </div>
    </div>
  </div>
</div>
