<fieldset
  class="w-full border border-gray-300 rounded-lg p-4 mb-4 shadow-lg"
  [formGroup]="form"
>
  <legend class="text-xl">Basic Info</legend>

  <app-labeled-input
    label="Name"
    [control]="form.controls.name"
  ></app-labeled-input>

  <app-labeled-input
    label="Email"
    [control]="form.controls.email"
  ></app-labeled-input>

  <app-labeled-input
    label="Phone"
    [control]="form.controls.phone"
  ></app-labeled-input>

  <app-labeled-input
    label="Username"
    [control]="form.controls.username"
  ></app-labeled-input>

  <app-labeled-input
    label="Website"
    [control]="form.controls.website"
  ></app-labeled-input>
</fieldset>
